extends layout

block content
  h1= title
  p Welcome to #{title}
  div(ng-controller="PokedexCtrl")
    div.search
        form
            label(for='query') Search Pokédex
            input(id='query', type='text', name='query' ng-model='query' ng-change="search(query)")
            input(type='submit', ng-click='search(query)' value='Search')
    div.random
        form
            input(type='submit', ng-click='random()', value='Random')
    div.results.flex-container(ng-show="results")

        div.flex-item(ng-repeat="pokemon in results")
            h2 {{ pokemon.name }}
            img(ng-src="{{ pokemon.sprite_url }}" height="150")
            div.info-container
                div.info-flex
                    em {{ pokemon.species }}
                div.info-flex
                    h3 Description
                    div {{ pokemon.description }}
                div.info-flex
                    h3 Types
                    span(ng-repeat="type in pokemon.types") {{ type.name }}{{$last ? '' : ', '}}
                div.info-flex
                    table 
                        tr
                            th Attack
                            th Defense
                            th Sp. Atk
                            th Sp. Def
                            th Speed
                            th HP
                        tr 
                            td {{ pokemon.attack }}
                            td {{ pokemon.defense }}
                            td {{ pokemon.sp_atk }}
                            td {{ pokemon.sp_def }}
                            td {{ pokemon.speed }}
                            td {{ pokemon.hp }}                      

    div.error(ng-show="errorMsg")
        {{ errorMsg }}