doctype html
html(ng-app="pokedex")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='core.js')
    script(src='controllers/pokedex.js')
    script(src='directives/poke-detail.js')
  body
    block content
